$primary-color: #266cb4;
$secondary-color:#FFB84E;
$cancel-color: rgb(255, 67, 67);
$sub-menu-color: #4582C1;
$text-color: white;
html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  min-width: 320px;
  background-color: #f9f9f9;
  margin: 0;
  height: 100%;
}

.nav {
  background-color: $primary-color;
  width: 100%;
  box-sizing: border-box;
}

.nav-bars {
  font-size: 17.5px;
  display: inline-block;
  background-color: $primary-color;
  border: solid;
  border-color: $primary-color;
  border-width: 3px;
  padding: 10px 12.8px;
  cursor: pointer;
}

.nav-bars:hover {
  background-color: $secondary-color;
  border-color: $secondary-color;
}

.angle-left {
  float: right;
  font-size: 22px;
  padding: 10px 18px;
}

.nav-item {
  padding: 10px;
}

#sidebar {
  width: 250px;
  bottom: 0;
  left: 0px;
  top: 47px;
  height: inherit;
  background-color: $primary-color;
  position: fixed;
  color: $text-color;
  overflow-x: auto;
}

#sidebar.on {
  -webkit-animation: slideIn .4s ease-in-out both;
  animation: slideIn .4s ease-in-out both;
}

#sidebar.off {
  -webkit-animation: slideOut .4s ease-in-out both;
  animation: slideOut .4s ease-in-out both;
}

@keyframes slideIn {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

@keyframes slideOut {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

.sidebar-item {
  display: block;
  text-decoration: none;
  color: $text-color;
  padding: 10px;
}

.active,
.sidebar-item:hover {
  background-color: $secondary-color;
  border-color: $secondary-color;
}

.sidebar-title {
  margin-top: 11px;
  padding-left: 10px;
}

.sub-menu {
  background-color: $sub-menu-color;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.sub-item {
  padding-left: 20px;
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%; //top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  cursor: pointer;
}

.btn {
  margin: 5px 0 5px 0;
  width: 49%;
  color: $text-color;
  padding: 10px;
  border: solid;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: center;
}

.input {
  padding: 10px;
  margin: 5px 0 5px 0;
  width: 100%;
  border-radius: 5px;
  border: 1px solid lightgray;
  box-sizing: border-box;
}

#nav-title {
  display: inline-flex;
}

#icon-logo {
  height: 23px;
  width: auto;
  float: left;
}

#title {
  float: left;
  font-size: 22px;
  color: $text-color;
  padding-left: 20px;
}

#nav-user {
  float: right;
}

#username-s {
  color: $text-color;
  margin-right: 5px;
}

#dashboard {
  margin-left: 250px;
  padding: 5px;
  transition: margin 0.4s ease-in-out;
}

#dashboard-main {
  margin-top: 20px;
  width: 100%;
  background-color: white;
  border: solid 1px lightgray;
  border-radius: 3px;
  overflow: auto;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  font-family: "Roboto", sans-serif;
}

#user-menu {
  z-index: 2;
  width: 200px;
  background-color: $primary-color;
  position: fixed;
  color: $text-color;
  right: -200px;
}

#user-menu.on {
  -webkit-animation: slideInUser .4s ease-in-out both;
  animation: slideInUser .4s ease-in-out both;
}

#user-menu.off {
  -webkit-animation: slideOutUser .4s ease-in-out both;
  animation: slideOutUser .4s ease-in-out both;
}

#terminar-sessao:hover {
  background-color: $cancel-color;
}

@keyframes slideInUser {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}

@keyframes slideOutUser {
  0% {
    right: 0;
  }
  100% {
    right: -100%;
  }
}

.user-menu-item {
  padding: 10px;
  color: $text-color;
  display: block;
  text-decoration: none;
  text-align: right;
}

@media (min-width:801px) {
  .overlay {
    display: none !important;
  }
}

@media only screen and (max-width: 800px) {
  #dashboard {
    margin: 0 !important;
  }
  .btn {
    width: 100%;
    padding: 15px;
    margin: 5px 0px;
  }
  .input {
    padding: 15px;
  }
  .login-form {
    max-width: 450px;
  }
  .logo {
    margin-bottom: 20px;
  }
  #sidebar {
    z-index: 2;
    display: none;
  }
}

@media only screen and (max-width: 450px) {
  #username-s {
    display: none;
  }
}